@use '../utils' as *;

/*----------------------------------------*/
/*  20. Privacy CSS START
/*----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700');

* {
  margin: 0;
  padding: 0;
}


.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    background-color: #fff;
    margin-bottom: 22px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
    &--main {
      flex-basis: 66%;
      width: 50%;
      height: 500px;
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      }
      .posts__image {
        display:flex;
        flex-grow: 1;
      }
      .posts__information {
        position: absolute;
        bottom: 35px;
        left: 50px;
        padding: 0 25px 0 0;
        z-index: 1;
      }
      .posts__title a {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.75px;
        color: #fff;
      }
    }
  }
  
  &__image > img {
    display: block;
    width: 100%;
  }
  
  &__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 25px;
    flex-grow: 1;
  }
  
  &__date {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.325px;
    color: #818181;
    text-transform: uppercase;
    font-weight: 600;
    margin: 7px 0;
  }
  
  &__title {
    margin-top: 7px;
    margin-bottom: auto;
    a {
      font-size: 22px;
      line-height: 30px;
      color: #000;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.55px;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  &__author {
    margin-top: 55px;
    img {
      border-radius: 50px;
      width: 60px;
    }
  }
  
}


@media screen and (max-width: 992px) {
  .posts__information {
		padding: 10px 15px 15px 15px;
	}
  .posts__date {
		font-size: 12px;
	}
	.posts__title a {
		font-size: 16px;
		line-height: 24px;
	}
	.posts__item--main .posts__information .post-title a {
		font-size: 20px;
		line-height: 26px;
	}
}

@media screen and (max-width: 768px) {
	.posts__item {
		flex-basis: 49%;
	}

	.posts__item--main {
		flex-basis: 100%;
    justify-content: center;
    .posts__image {
      display: block;
    }
    .posts__information {
          width: 100%;
          bottom: auto;
          left: auto;
          align-items: center;
          text-align: center;
          padding: 0;
    }
	}
}

@media screen and (max-width: 480px) {
	.posts__item {
		flex-basis: 100%;
	}
}



.privacy-title{
    font-weight: var(--tp-fw-light);
    font-size: 26px;
    line-height: 1.2;
    & b{
        font-weight: var(--tp-fw-bold);
    }
}

.privacy-nav{
    position: sticky;
    top: 140px;
    & .nav-tabs{
        border: 0;
        padding: 0;
        margin: 0;
        position: relative;

        &::before{
            position: absolute;
            content: '';
            left: 0;
            background: var(--tp-grey-1);
            width: 1px;
            height: 100%;
            @media #{$lg,$xs} {
                left: 10px;
            }
        }
        & .nav-item{
            list-style: none;
            margin-bottom: 30px;
            margin-left: 50px;
            &:last-child{
                margin-bottom: 0;
            }
            & .nav-link{
                border: 0;
                margin: 0;
                padding: 0;
                background-color: transparent;
                font-size: 18px;
                line-height: 1.2;
                color: var(--tp-heading-primary);
                background-repeat: no-repeat;
                display: inline-block;
                position: relative;

                &::after{
                    position: absolute;
                    content: '';
                    left: auto;
                    bottom: 0;
                    right: 0;
                    width: 0%;
                    height: 1px;
                    background-color: #FD4766;
                }
                &:hover,
                &.active{
                    color: var(--tp-theme-1);

                    &::after{
                        width: 100%;
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
    }
}

// search-area css
.search-wrapper{
    padding: 40px 90px;
    border: 1px solid var(--tp-grey-1);
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.09);
    @media #{$xs} {
        padding: 0 0;
    }
}
.m-sidebar{
    &-search {
        position: relative;
        & a {
            width: 88px;
            height: 88px;
            text-align: center;
            line-height: 88px;
            background:  var(--tp-theme-1);
            color: var(--tp-common-white);
            font-size: 25px;
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
        }
        & input {
            padding-left: 30px;
            padding-right: 100px;
            background: none;
            height: 88px;
            width: 100%;
            border: 0;
            outline: none;
            border: 1px solid var(--tp-grey-1);
            &::placeholder {
                color: #999999
            }
            &:focus{
                border-color: var(--tp-theme-1);
            }
        }
    }
}

.privacy-item{
    & ul{
        margin-top: 20px;
        padding-left: 20px;
        & li{
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}