

.text-primary{
  color : #5a8dee !important;
}
.card {
   box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
  background-color: #fff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #475f7b;
  overflow: hidden;
}
.rc-accordion-toggle {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.3s;
  border-top: 1px solid #d08402;
}
.rc-accordion-toggle.active{
  background-color: #2b6338;
  border: 1px solid #2b6338;
}
.rc-accordion-toggle.active .rc-accordion-icon{
  transform: rotate(180deg);
  color: #fff;
}
.rc-accordion-card{
  overflow: hidden;
}


.rc-accordion-card:last-child{
  margin-bottom: 0;
}
.rc-accordion-title{
  font-weight: 700;
  font-size: 20px;
  position: relative;
  margin-bottom: 0;
  color: #2b6338;
  transition: 0.3s;
}
.rc-accordion-toggle.active .rc-accordion-title{
  color: #fff;
}
.rc-accordion-icon{
  position: relative;
  top: 2px;
  color: #2b6338;
  transition: 0.35s;
  font-size: 20px;
}
.rc-accordion-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 15px;
}
.rc-accordion-body p{
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #3c3c3b;
}
.rc-collapse{
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.rc-collapse.show{
  height: auto;
}

@media (min-width: 768px){
  .BlocBandeauText {
    width: 100%;
    bottom: 20px;
    position: absolute;
}
}

.BlocBandeauText {
    width: 100%;
    margin-top: 440px;
}

.BlocBandeauText div {
  margin: 0 auto;
  width: 67%;
  min-width: 160px;
  background-color: #f9b233;
  color: White;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.BlocText .bodytext {
  font-size: 14px;
  margin: 0;
}

.BlocBandeauText a {
  color: white !important;
}

.BlocBandeauText div.ButtonText {
  background-color: #2b6338;
  color: #fff;
  font-size: 17px;
}

.ButtonText a {
  color: #fff !important;
}

.col-sm-12.tppg-project .BlocText{
  width: 18%;
    min-width: 160px
}

.gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(243, 244, 246, 0.1),
    rgba(0, 0, 0, 0.8)
  );
}

.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
 max-width: 300px;
  min-height: 250px;
  background: #02b875;
  padding: 30px;
   border-radius: 3px;
  box-sizing: border-box;
  color: #f9b233;
  margin:20px;
   box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.card-title{
  color: #f9b233;
  margin-top: 0;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.card-title-2{
  color: #f9b233;
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.card-title:hover{
  color: #02b875;
}

.card-content{
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card-btn{
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #f9b233;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover{
 color:#02b875;
 border: 2px solid #02b875;
 background: #FFF;
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

.overlay{
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer{
  
  max-width: 500px;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #fff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.closeBtn{
  font-weight: 600;
  color: red;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  width: 30px;
  background-color: #fff;
  position: fixed;
  top: -15px;
  right:-15px;
}

.wrapper {
  display: grid;
  grid-gap: calc(1em + 1.5vmin);
  padding: calc(1em + 1.5vmin);
  grid-auto-rows: minmax(25vh, auto);
  grid-template-columns: 1fr;
}
@media (min-width: 580px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(25ch, 1fr));
  }
}
@media (min-width: 780px) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(25ch, 1fr));
  }
}
@media (min-width: 1280px) {
  .wrapper {
    grid-template-columns: repeat(4, minmax(25ch, 1fr));
  }
}
.item {
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 100ms ease;
}
.item:hover {
  transform: translatey(-1px);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
}
.item .image-wrapper img {
  width: 100%;
  object-fit: cover;
  height: 7.75em;
}
@media (min-height: 680px) {
  .item .image-wrapper img {
    height: 9.25em;
  }
}
@media (min-height: 980px) {
  .item .image-wrapper img {
    height: 12.5em;
  }
}
.item .content {
  padding: 1em;
}

@media (min-width: 580px) {
  .item.item-featured {
    font-size: 1.25em;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
}
@media (min-width: 780px) {
  .item.item-featured {
    font-size: 1.5em;
  }
}
@media (min-width: 1280px) {
  .item.item-featured {
    font-size: 2em;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }
}
@media (min-width: 1980px) {
  .item.item-featured {
    grid-column: 1 / span 2;
  }
}

.lp {
  height: 600px;
  position: relative;
  display: flex;
}
/*GENERAL*/
.lp__col-img {
  height: 100%;
  width: 55%;
  /*https://images.unsplash.com/photo-1571406252262-61dbac780447?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60*/
}
.lp__col-txt {
  width: 45%;
  margin: 10px 32px;
}
.lp__col__topP {
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 12px;
}
.lp__col__h1 {
  font-size: 28px;
}

.lp__col__h1 b {
  color: #02b875;
}

.lp__col__h1 span{
  font-size: 20px;
  color: #f9b233;
}
.lp__col_h2 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 30px 0;
}
.lp__col_bottomP {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 895px) {
  .lp {
    flex-direction: column;
    height: 100%;
  }
  .lp__col {
    width: 100%; 
  }
  .lp__col-img { 
    height: 300px;
  }
  .lp__col-txt {
    margin: 8px;
  }

  .lp__col_bottomP {
    font-size: 13px;
  }

  .lp__col__h1 {
    font-size: 20px;
  }

  .lp__col__h1 span{
    font-size: 20px;
    color: #f9b233;
  }
}