.text-primary{
  color : #5a8dee !important;
}
.card {
   box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
  background-color: #fff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #475f7b;
  overflow: hidden;
}
.rc-accordion-toggle {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.3s;
  border-top: 1px solid #d08402;
}
.rc-accordion-toggle.active{
  background-color: #2b6338;
  border: 1px solid #2b6338;
}
.rc-accordion-toggle.active .rc-accordion-icon{
  transform: rotate(180deg);
  color: #fff;
}
.rc-accordion-card{
  overflow: hidden;
}


.rc-accordion-card:last-child{
  margin-bottom: 0;
}
.rc-accordion-title{
  font-weight: 700;
  font-size: 20px;
  position: relative;
  margin-bottom: 0;
  color: #2b6338;
  transition: 0.3s;
}
.rc-accordion-toggle.active .rc-accordion-title{
  color: #fff;
}
.rc-accordion-icon{
  position: relative;
  top: 2px;
  color: #2b6338;
  transition: 0.35s;
  font-size: 20px;
}
.rc-accordion-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 15px;
}
.rc-accordion-body p{
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #3c3c3b;
}
.rc-collapse{
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.rc-collapse.show{
  height: auto;
}

@media (min-width: 768px){
  .BlocBandeauText {
    width: 100%;
    bottom: 20px;
    position: absolute;
}
}

.BlocBandeauText {
    width: 100%;
    margin-top: 440px;
}

.BlocBandeauText div {
  margin: 0 auto;
  width: 67%;
  min-width: 160px;
  background-color: #f9b233;
  color: White;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.BlocText .bodytext {
  font-size: 14px;
  margin: 0;
}

.BlocBandeauText a {
  color: white !important;
}

.BlocBandeauText div.ButtonText {
  background-color: #2b6338;
  color: #fff;
  font-size: 17px;
}

.ButtonText a {
  color: #fff !important;
}

.col-sm-12.tppg-project .BlocText{
  width: 18%;
    min-width: 160px
}